* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:black;
  color: white;
  line-height: 1.5;
}
/* Header styling */
header {
  background-color: black;
  color: darkred;
  padding: 20px;
  text-align: center;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
header li {
  display: inline-block;
  margin: 0 15px;
}
header a {
  padding:20px;
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
header a:hover {
  color:red;
  text-shadow: 0 0 10px crimson;
}
/* Section design */
section{
    padding:20px 30px;
    background-color:darkred;
    color:white;
    border-radius:30px;
    margin:50px auto;
    width:80%;
    box-shadow:0 0 20px red;
}
section h2{
    font-weight:bold;
    margin:10px auto;
    text-align:center;
}
article{
    background-color:#111;
    box-shadow: 0 0 10px black;
    padding:20px;
    margin: 20px 10px;
    border-radius:20px;
}
article h3{
    font-weight:bold;
    text-align:center;
    margin: 5px auto;
    text-decoration: underline;
}
/* table design */
table caption{
    text-align:center;
    font-weight:bold;
    margin:5px auto;
    background-color: black;
    color:white;
    padding:10px;
    border-radius:10px 10px 0 0;

}
table{
    border-collapse: collapse;
    margin: 20px auto;
    max-width:900px;
    width:90%;
}

table, th, td {
  border: 1px solid darkred;
}

table th{
    background-color:#111;
    color:red;
    text-align:center;
    font-weight:bold;
    margin: 0 8px;
    padding:10px
}
table td{
    background-color:black;
    color:white;
    text-align:center;
    padding:8px;
    margin: 0 5px;
}

table tbody tr:hover {
  background-color: crimson;
  color: black;
  transition: 0.3s;
}
article ul li:hover {
  text-shadow: 0 0 5px red;
  color: crimson;
}
article {
  margin-bottom: 40px;
  padding: 20px; 
}

summary {
    font-weight:bold;
    padding:5px;
}
summary:hover{
    background-color:red;
    color:black;
    transition:0.3s;
}
details{
    background-color: darkred;
    color:white;
    border-radius: 0 0 10px 10px;
}
/* Footer styling */
footer {
  background-color: black;
  color:darkred;
  padding: 20px;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 15px;
  text-align:center;
}
footer li {
  display: inline;
  margin: 0px 25px;
}
footer a {
  padding: 30px;
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
footer a:hover {
  color: darkred;
  text-shadow: 0 0 10px red;
}