* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:black;
  color: white;
  line-height: 1.5;
}
/* Header styling */
header {
  background-color: black;
  color: darkred;
  padding: 20px;
  text-align: center;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
header li {
  display: inline-block;
  margin: 0 15px;
}
header a {
  padding:20px;
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
header a:hover {
  color:red;
  text-shadow: 0 0 10px crimson;
}
/* Section design */
section{
    padding:20px 30px;
    background-color:darkred;
    color:white;
    border-radius:10px;
    margin:50px auto;
    width:80%;
    box-shadow:0 0 20px red;
}
section h2{
    font-weight:bold;
    margin:10px auto;
    text-align:center;
}
article p{
  background-color: #111;
  color: white;
  border-radius:6px;
  padding:10px;
  margin: 10px 20px;
  line-height: 1.7;
}
article ol{
  background-color: #111;
  color:white;
  padding:20px;
  margin: 10px 20px;
  border-radius:6px;
}
article ol li:hover {
  text-shadow: 0 0 5px red;
  color: crimson;
}
article ul{
  background-color: #111;
  color:white;
  padding:20px;
  margin: 10px 20px;
  border-radius:6px;
}
article ul li:hover {
  text-shadow: 0 0 5px red;
  color: crimson;
}
article {
  margin-bottom: 40px;
  padding: 20px; 
}
/* Footer styling */
footer {
  background-color: black;
  color:darkred;
  padding: 20px;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 15px;
  text-align:center;
}
footer li {
  display: inline;
  margin: 0px 25px;
}
footer a {
  padding: 30px;
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
footer a:hover {
  color: darkred;
  text-shadow: 0 0 10px red;
}