* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.5;
}
/* Header styling */
header {
  background-color: black;
  color: darkred;
  padding: 20px;
  text-align: center;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
header li {
  display: inline-block;
  margin: 0 15px;
}
header a {
  padding:20px;
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
header a:hover {
  color:red;
  text-shadow: 0 0 10px crimson;
}
/* Main form section */
section{
  background-color: darkred;
  color:white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px red;
  width: 80%;
  margin: 50px auto;
}
section h2{
  text-align:center;
  margin: 0 0 auto;
}
form{
  padding: 5px;
  max-width:600px;
  margin:0 auto;
}
/* Form fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
textarea {
  background-color: #111;
  color: red;
  border: 1px solid red(212, 175, 55, 0.7);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  margin-top: 6px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select:focus,
textarea:focus{
  outline: none;
  border-color:darkred;
  box-shadow: 0 0 6px red;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* Label and placeholder styling */
label {
  display: block;
  color: #111;
  margin-bottom: 6px;     
}
legend {
  font-weight: bold;
  color: white;
  background-color: transparent;
  margin-bottom: 10px;
}
::placeholder {
  color:red(212, 175, 55, 0.7);
}
input[type="submit"],
input[type="reset"] {
  background-color: black;
  color: darkred;
  border: 2px solid darkred;
  padding: 10px;
  border-radius:6px;
  font-weight: bold;
  margin-top: 15px;
  transition: all 0.3 ease;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
  background-color: darkred;
  color: black;
  border: 2px solid darkred;
  margin: 0 10px;
}
.form-buttons {
  text-align: center;
}
/* Footer styling */
footer {
  background-color: black;
  color:darkred;
  padding: 20px;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 15px;
  text-align:center;
}
footer li {
  display: inline;
  margin: 0px 25px;
}
footer a {
  padding: 30px;
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
footer a:hover {
  color: darkred;
  text-shadow: 0 0 10px red;
}